{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blog Post</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" >
    <link href="http://fonts.googleapis.com/css?family=Source+sans+Pro:400">
</head>
<body>
    <header>
        <div class="nav-left">
            <h1><a href="{% url 'home' %}">Django Blog</a></h1>
        </div>
        <div class="nav-right">
            <a href="{% url 'post_new' %}">+ New Blog Post</a>
        </div>

    </header>
    {% if user.is_authenticated %}
        <p>Hi {{ user.username}}</p>
        <a href="{% url 'logout' %}">Logout</a>

    {% else %}
        <p>You are not Logged in.</p>
        <a href="{% url 'login' %}">Log in</a>
        <a href="{% url 'signup' %}">Sign up</a>
    {% endif%}
    <div>
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>